
$rgba-primary-0: rgba( 18,  2, 36,1);	// Main Primary color */
$rgba-primary-1: rgba( 15,  2, 28,1);
$rgba-primary-2: rgba( 25,  5, 47,1);
$rgba-primary-3: rgba( 39,  3, 78,1);
$rgba-primary-4: rgba( 58,  7,114,1);
